body {
	position: relative;
	background-color: #282828;
}

body {
	font-family: "Courier New", Courier, monospace;
	color: #33FF33;
}

#title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

#instruction, #alerts {
	text-align: center;
	font-size: 12px;
}

#main-content {
	width: 960px;
	margin: 0px auto 0px auto;
}

.panel {
	background-color: #282828;
	padding: 20px;
	margin: 10px;
}

#word-display {
	text-align: center;
	font-size: 32px;
	padding: 10px;
	padding-bottom: 20px;
}

#general-display {
	text-align: center;
	font-size: 16px;
}